@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #222222;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

form {
    margin: 20px 0px 30px 0px;
    display: flex;
    align-items: center;
}

.todo-input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

.todo-button {
    background-color: #50C878;
    padding: 4.5px;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
}

.todo-list {
    list-style: none;
}

.todo {
    background-color: #333333;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    margin: 10px 0px;
    border-radius: 5px;
}

.todo li {
    flex: 1;
    margin: 5px 10px;
}

.complete-button {
    background-color: #50C878;
    padding: 4.5px;
    border: none;
}

.trash-button {
    background-color: red;
    padding: 4.5px;
    color: white;
    border: none;
}

.completed {
    text-decoration: line-through;
}

.fa-trash, 
.fa-check {
    pointer-events: none;
}